@model TesteTutorial.Models.Livro

@{
    ViewData["Title"] = "Novo Produto";
}

<h2>Novo Produto</h2>
<form asp-action="Create" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Editora"></label>
        <input asp-for="Editora" class="form-control" />
        <span asp-validation-for="Editora" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Preco"></label>
        <input asp-for="Preco" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}